div[data-lazy-src] {
	overflow: hidden;
	position: relative;
	opacity: 0;
	transition: all .2s; /* fade in */
}

div[data-lazy-src].loaded {
	opacity: 1;
}

div[data-lazy-src] > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}